* {
    box-sizing: border-box;
}

.container {
    display: flex;
    background-color: aqua;
    height: 600px;
    width: 850px;
    padding: 2px;
    flex-wrap: wrap;
    flex-direction: row;
}

.head,
aside,
p,
footer {
    border: 2px;
    font-size: 2em;
    padding: 10px;

}

.head {
    background-color: orange;
    order: 1;
    flex-basis: 100%;
}

.right {
    background-color: blueviolet;
    order: 2;

    flex-basis: 25%;
}

.left {
    order: 4;
    background-color: green;
    flex-basis: 25%;
}

.lorem {
    order: 3;
    background-color: goldenrod;
    flex-basis: 50%;
    margin: 0;
}

.footer {
    order: 5;
    background-color: darkviolet;
    flex-basis: 100%;


}

@media screen and (max-width: 992px) {
    .lorem {
        flex-basis: 75%;
        order: 2;
    }

    .left {
        flex-basis: 100%;
        /* order 2 zmienic */
    }
}

@media screen and (max-width: 768px) {
    .lorem {
        flex-basis: 100%;
order: 2;
    }

    .left {
        flex-basis: 100%;
        order: 3;
    }

    .right {
        flex-basis: 100%;
        order: 4;
    }
}